@import url("https://fonts.googleapis.com/css2?family=Poppins:wgh@400;500;600;700&display=swap");

/* Colors */
/* Primary */

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);

  /* font */
  --font: "poppins", sans-serif;

  --radius: 0.5rem;
  --letterSpacing: 1px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}
h1,
h2,
h3 {
  color: #fff;
}
p {
  color: #fff;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
.btn {
  padding: 1rem 0.75rem;
  cursor: pointer;
  color: #fff;
  background: var(--Green);
  border-radius: var(--radius);
  border: transparent;
  letter-spacing: var(--letterSpacing);
  display: inline-block;
  font-size: 16px;
}
.btn:hover {
  background: var(--grayishBlue);
}
.btn-block {
  width: 100%;
}

/* BODY */

.page-center {
  min-height: 100vh;
  background: linear-gradient(hsla(0, 95%, 64%, 0.7), hsla(0, 95%, 64%, 0.7)),
    url("./images/bg-intro-desktop.png") center/cover, no-repeat;
}
.page-txt {
  padding: 0.5rem 0.7rem;
}
.page-txt h1 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.page-txt p {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  letter-spacing: var(--letterSpacing);
}
.form-area {
  padding: 1rem 0.5rem;
}

.form {
  width: 90vw;
  max-width: 500px;
  background: #ffff;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  margin: 1rem auto;
}
.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.101);
  font-size: 1.5rem;
}
.form-row {
  margin-bottom: 1rem;
}
::placeholder {
  font-family: inherit;

  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .form-input {
    padding: 1rem 0.75rem;
  }
}
.form .btn {
  margin-bottom: 1rem;
}
.btn-pay {
  width: 90vw;
  max-width: 500px;
  background: var(--Blue);
  border-radius: var(--radius);
  padding: 1rem 2rem;
  margin: 1rem auto;
  text-align: center;
}
.form-footer {
  color: var(--grayishBlue);
}
.highlight {
  color: var(--Red);
}

@media screen and (min-width: 760px) {
  .page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
  }
  .page-txt {
    align-self: center;
  }
}
